@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/* colors
#f1f1f1;  white
#818181; light gray
*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  font-family: 'Montserrat';
  background-color: whitesmoke;
  width: 100%;
  margin: 0;
  height: 100%;
}
body ul li {
  list-style-type: none;
}

#header-services {
  text-align: center;
  font-size: 3.0em;
  padding: 20px;
  margin-top: 50px;
  color: black;
}
#hr {
  border: 2px solid black;
  width: 0%;
  margin: auto;
}
#thankYou {
  width: 600px;
  font-size: 3.0em;
  padding: 20px;
  text-align: center;
  margin: 50px;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  margin-bottom: 170px;
  margin: auto;
}
#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  margin: auto;
  margin-top: 70px;
}
* {
  -webkit-box-sizing: border box;
          box-sizing: border box;
}
button {
  border-radius: 10px;
  width: 300px;
  background: #1d1d1d;
  border: none;
  font-size: 15px;
  background-color: #1d1d1d;
  color: white;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding: 14px 21px;
  padding: 1.4rem 2.1rem;
  border: 2px solid #1d1d1d;
  -webkit-transition: color 0.1s cubic-bezier(0.16, 0.08, 0.355, 1), background 0.1s cubic-bezier(0.16, 0.08, 0.355, 1);
  -o-transition: color 0.1s cubic-bezier(0.16, 0.08, 0.355, 1), background 0.1s cubic-bezier(0.16, 0.08, 0.355, 1);
  transition: color 0.1s cubic-bezier(0.16, 0.08, 0.355, 1), background 0.1s cubic-bezier(0.16, 0.08, 0.355, 1);
  display: inline-block;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin: auto;
}
#link {
  width: 100%;
  margin: auto;
}
@media only screen and (max-width: 600px) {
  #thankYou {
    width: 300px;
    font-size: 2.0em;
  }
  #wrapper {
    width: 200px;
  }
  button {
    width: 200px;
    margin: auto;
  }
}
@media only screen and (max-width: 400px) {
  #thankYou {
    font-size: 1.0em;
  }
  #wrapper {
    width: 150px;
  }
button {
  width: 150px;
  font-size: 10px;
  }
}
.btn:hover,
button:hover {
  background-color: #e74c3c;
  border-color: #2a2a2a;
  color: #fff;
}
.btn-border {
  background-color: transparent;
  color: #1d1d1d;
}
.btn-arrow {
  position: relative;
  -webkit-transition: background-color 300ms ease-out;
  -o-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
}
.btn-arrow span {
  display: inline-block;
  position: relative;
  -webkit-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  will-change: transform;
}
.btn-arrow:hover span {
  -webkit-transform: translate3d(-1rem, 0, 0);
          transform: translate3d(-1rem, 0, 0);
}
.btn-arrow svg {
  position: absolute;
  width: 1.1em;
  right: 0px;
  right: 0rem;
  opacity: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  -webkit-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  will-change: right, opacity;
}
.btn-arrow svg * {
  stroke-width: 5;
  stroke-color: transparent;
}
.btn-arrow:hover svg {
  opacity: 1;
  right: -2rem;
}

/* scroll to top button */

.scrollToTop{
width:100px;
height:130px;
padding:10px;
position:fixed;
z-index: 20;
top:85%;
right:10px;
display:none;
background: url('../images/toTop.png') no-repeat 0px 20px;
}
.scrollToTop:active{
  outline: none;
}
.scrollToTop:focus{
  outline: none;
}


/* footer */

#footer-p {
  padding: 20px;
  margin: 10px;
  font-size: 1.5em;
  text-align: center;
}
#hr-footer {
  border: 2px solid black;
  width: 0%;
  margin: 50px auto;
}
@media only screen and (max-width: 730px) {
  #footer-p {
    font-size: 1.0em;
  }
}
@media only screen and (max-width: 530px) {
  #footer-p {
    font-size: 0.7em;
  }
}

/* scroll to top media query */

@media only screen and (max-width: 650px) {
  .scrollToTop{
  right: -25px;
  }
}
@media only screen and (max-width: 450px) {
  #header-services {
    font-size: 2.0em;
  }
}
