
/* main nav menu */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/* colors
#f1f1f1;  white
#818181; light gray
*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  font-family: 'Montserrat';
  background-color: whitesmoke;
  margin: 0;
  height: 100%;
}
body ul li {
  list-style-type: none;
}

.nav {
  background-color: black;
  width: 100%;
  position: fixed;
  z-index: 10;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
          box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.nav:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
          box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
ul#menu {
  display: none;
}
ul#menu li a {
  width: 100%;
  display: block;
  background-color: black;
  color: #FFF;
  font-size: 1.0em;
  padding: 1.5em 1.6em;
  -webkit-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
  text-decoration: none;
}
ul#menu a:hover {
  background-color: #818181;
}
#spanish {
  font-weight: bold;
  padding: 10px;
}
#img-phone {
  width: 30px;
  height: 30px;
  margin-top: 15px;
  margin-right: 5px;
}
#img-address {
  width: 30px;
  height: 30px;
  margin-top: 15px;
  margin-right: 5px;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.phone-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.phone-address-text {
  color: white;
  text-align: center;
  margin-top: 15px;
  font-size: 1.3em;
  padding-top: 5px;
  margin-right: 50px;
  font-weight: bold;
}
.links-menu {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 2000px) {
  .hamburger-container {
    display: none;
  }

  .nav ul#menu {
    display: inline;
  }
  .nav ul#menu li {
    display: inline-block;
    margin-right: -5px;
  }
}
ul.hamburger li {
  height: 5px;
  background: #f1f1f1;
  content: '';
  position: relative;
  -webkit-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.hidden {
  opacity: 0;
}

.rot45deg {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 10px !important;
}

.rot-45deg {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

ul.hamburger {
  display: block;
}
ul.hamburger li:nth-child(1) {
  top: 0;
}
ul.hamburger li:nth-child(2) {
  top: 5px;
}
ul.hamburger li:nth-child(3) {
  top: 10px;
}

.hamburger-container {
  width: 38px;
  margin: 1.2em 1.6em;
  height: 30px;
  cursor: pointer;
}
/* end of main nav menu */

/* social nav */

nav.social {
  width: 10vw;
}
#social {
    color: #000000;
    text-decoration: none;
}

.social {
    position: fixed;
    z-index: 5;
    padding-top: 20vh;
}

.social ul {
    padding: 0px;
    -webkit-transform: translate(-270px, 0);
    -ms-transform: translate(-270px, 0);
    transform: translate(-270px, 0);
}

.social ul li {
    display: block;
    margin: 20px;
    background: rgba(0, 0, 0, 0.36);
    width: 300px;
    text-align: right;
    padding: 4px;
    border-radius: 0 30px 30px 0;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.social ul li:hover {
    -webkit-transform: translate(110px, 0);
    -ms-transform: translate(110px, 0);
    transform: translate(110px, 0);
    background: rgba(255, 255, 255, 0.4);
}

.social ul li:hover a {
    color: #000;
}

.social ul li:hover i {
    color: #fff;
    background-color: black;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.social ul li i {
    margin-left: 10px;
    color: #000;
    background: black;
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    background: #ffffff;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

/* end of social nav  */

/* scroll to top button */

.scrollToTop{
width:100px;
height:130px;
padding:10px;
position:fixed;
z-index: 20;
top:85%;
right:10px;
display:none;
background: url('../images/toTop.png') no-repeat 0px 20px;
}
.scrollToTop:active{
  outline: none;
}
.scrollToTop:focus{
  outline: none;
}

/* gallery */

#header-services {
  text-align: center;
  font-size: 3.0em;
  padding: 20px;
  padding-top: 150px;
  color: black;
}
#hr {
  border: 2px solid black;
  width: 0%;
  margin: auto;
}
#footer-p {
  padding: 20px;
  margin: 10px;
  font-size: 1.5em;
  text-align: center;
}
#hr-footer {
  border: 2px solid black;
  width: 0%;
  margin: 50px auto;
}



/* gallery after clicked */
.flex-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px 100px;
  z-index: 15;
}
.flex-clicked {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.photo-gallery {
  display: none;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.photo-display {
  display: none;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.photo-box {
  width: 900px;
  height: 700px;
}
#imageInsert {
  width: 900px;
  height: 700px;
  cursor: pointer;
}
.arrow-box {
  width: 50px;
  margin: auto;
  z-index: 3;
}
#x {
  position: absolute;
  font-size: 3.5em;
  top: -50px;
  right: 100px;
  cursor: pointer;
  font-weight: bold;
  z-index: 3;
  color: white;
}
.clicked {
  position: fixed;
  top: 150px;
  z-index: 3;
  display: none;
}
.start {

}
/* end of gallery after clicked */
.images {
  margin: 30px;
  width: 400px;
  height: 300px;
  border: 5px solid black;
  cursor: pointer;
}
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}
.arrow {
    border: solid white;
    border-width: 0 12px 12px 0;
    display: inline-block;
    padding: 25px;
    cursor: pointer;
}
.right {
    -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    z-index: 3;
}
.left {
    -ms-transform: rotate(135deg);
        transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    z-index: 3;
}
.first-image {

}
.noselect {
  -moz-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}
@media only screen and (max-width: 1250px) {
  .arrow-box {
    display: none;
  }
  #x {
    display: none;
  }
}
@media only screen and (max-width: 1050px) {
  .photo-box {
    width: 700px;
    height: 600px;
  }
  #imageInsert {
    width: 700px;
    height: 600px;
  }
}
@media only screen and (max-width: 900px) {
  .photo-box {
    width: 500px;
    height: 400px;
  }
  #imageInsert {
    width: 500px;
    height: 400px;
  }
}
@media only screen and (max-width: 650px) {
  .photo-box {
    width: 100%;
    width: 100%;
  }
  #imageInsert {
    width: 100%;
    width: 100%;
  }
}

/* end of gallery */



/* footer medias */

@media only screen and (max-width: 730px) {
  #footer-p {
    font-size: 1.0em;
  }
}
@media only screen and (max-width: 530px) {
  #footer-p {
    font-size: 0.7em;
  }
}

/* scroll to top media query */

@media only screen and (max-width: 650px) {
  .scrollToTop{
  right: -25px;
  z-index: 20;
  }
}

/* menu  */
@media only screen and (max-width: 625px) {
  .phone-address-text {
    font-size: 1.0em;
  }
}
@media only screen and (max-width: 510px) {
  .phone-address-text {
    margin-top: 25px;
    font-size: 0.8em;
  }
  #img-phone {
    width: 20px;
    height: 20px;
    margin-top: 25px;
  }
  #img-address {
    width: 20px;
    height: 20px;
    margin-top: 25px;
    margin-right: 5px;
  }
}
@media only screen and (max-width: 450px) {
  .phone-address-text {
    font-size: 0.65em;
  }
  #img-phone {
    width: 11px;
    height: 11px;
    margin-top: 30px;
  }
  #img-address {
    width: 11px;
    height: 11px;
    margin-top: 30px;
  }
  #header-services {
    font-size: 2.0em;
  }
}
@media only screen and (max-width: 400px) {
  .phone-address-text {
    font-size: 0.55em;
  }
}
/* gallery */
@media only screen and (max-width: 600px) {
  .images {
    width: 250px;
    height: 200px;
  }
  .photo-box {
    position: absolute;
    top: 0px;
  }
  #imageInsert {
    position: absolute;
    top: 0px;
  }
  .clicked {
    z-index: 30;
  }
}
